<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=K2D:300,700" rel="stylesheet">

    <link rel="stylesheet" href="{{ dirs['styledir'] }}style.css" />
    </head>
    
    <body>
        <main>
            <div uk-slideshow="autoplay: true; ratio: 7:2">
                <div class="uk-position-relative uk-visible-toggle uk-light">

                    <ul class="uk-slideshow-items">
                        <li>
                            <img src="https://picsum.photos/2000/600/?image=958" alt="" uk-cover>
                            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                                <h2 class="uk-margin-remove">Sairaan</h2>
                                <p class="uk-margin-remove"> {{ adjektiivit.0 }} sivusto.</p>
                            </div>
                        </li>
                        <li>
                            <img src="https://picsum.photos/2000/600/?image=1024" alt="" uk-cover>
                            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                                <h2 class="uk-margin-remove">Vieläkin</h2>
                                <p class="uk-margin-remove"> {{ adjektiivit.1 }} maailma.</p>
                            </div>
                        </li>
                        <li>
                            <img src="https://picsum.photos/2000/600/?image=940" alt="" uk-cover>
                            <div class="uk-position-center uk-position-small uk-text-center uk-light">
                                <h2 class="uk-margin-remove">Lopullisen</h2>
                                <p class="uk-margin-remove"> {{ adjektiivit.2 }} maailma.</p>
                            </div>
                        </li>
                    </ul>
                
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                
                </div>
                <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
            </div>

            {% block lomake %}{% endblock %}
            
            <div class="uk-container">
                <h1 class="uk-heading-primary uk-text-center"> {{ sisalto.otsikko }}</h1>
           

                <div class="uk-column-1-2 uk-column-divider">
                    <p> {{ sisalto.tarina }} </p>
                
                </div>
            </div>
            <div class="uk-container">
                <div uk-slider="center: true">

                    <div class="uk-position-relative uk-visible-toggle uk-light">
                        
                        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                            <li>
                                    <div class="uk-card uk-card-default">
                                        <div class="uk-card-media-top" uk-lightbox>
                                            <a href="{{ dirs['imgdir'] }}kummitusmetsa.jpg"><img src="https://picsum.photos/600/300/?image=879" alt=""></a>
                                        </div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">Kummitusmetsä</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                        </div>
                                    </div>
                                </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top" uk-lightbox>
                                        <a href="{{ dirs['imgdir'] }}ydintuho.jpg"><img src="https://picsum.photos/600/300/?image=877" alt=""></a>
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Ydintuho</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top" uk-lightbox>
                                        <a href="{{ dirs['imgdir'] }}maailmanloppu.jpg"><img src="https://picsum.photos/600/300/?image=901" alt=""></a>
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Maailmanloppu</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top" uk-lightbox>
                                        <a href="{{ dirs['imgdir'] }}savusauna.jpg"><img src="https://picsum.photos/600/300/?image=932" alt=""></a>
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Savusauna</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-card uk-card-default">
                                    <div class="uk-card-media-top" uk-lightbox>
                                        <a href="{{ dirs['imgdir'] }}aika-avaruuden-repeama.jpg"><img src="https://picsum.photos/600/300/?image=974" alt=""></a>
                                    </div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">Aika-avaruuden repeämä</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                
                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                
                    </div>
                
                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
                
                </div>
            </div>
        </main>
        <footer>
            <div class="uk-container uk-text-center">  
                <p>Copyright &copy; Anzun pantsu kauppa</p>
            </div>
        </footer>
    </body>
</html>